nav{
  height: 100%;
}

.side-nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.side-nav-button:hover{
  background-color: rgba(255, 255,255, 0.2);
  border-radius: 30%;
}
a {
  text-decoration: none;
  color: white;
}

/* NavEnd */

/* SideNav */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 30px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top: 10px;;
bottom:0;
height:92%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:rgb(147, 140, 140);
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* SideNAV END */



/* card */

.card {
    position: relative;
    width: 262px;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    margin: 26px;
  }
  
  
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
/* 
footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer ul li {
  display: inline;
  margin-right: 10px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}