<div class="shadow-lg p-5 mb-5 bg-body rounded-3 w-50" style="margin: auto;">

    <form (submit)="updateHolders()" class="p-3" style="background-color: rgb(114, 230, 230);">
        <h2 align="center" class="text-success">Account Holder Details</h2>

        <div class="mt-3">
            <label for="accountNo" class="form-label">Account No:</label>
            <input type="text" class="form-control" name="accountNo" id="accountNo" required minlength="5" [(ngModel)]="accountNo">
        </div>
        <div class="mt-3">
            <label for="micrNo" class="form-label">Micr No:</label>
            <input type="text" class="form-control" name="micrNo" id="micrNo" required minlength="5" [(ngModel)]="micrNo">
        </div>
        <div class="mt-3">
            <label for="pin" class="form-label">Pin:</label>
            <input type="text" class="form-control" name="pin" id="pin" required minlength="5" [(ngModel)]="pin">
        </div>
        <div class="mt-3">
            <label for="accType" class="form-label">Account Type:</label>
            <input type="text" class="form-control" name="accType" id="accType" required minlength="5" [(ngModel)]="accType">
        </div>
        <div class="mt-3">
            <label for="address" class="form-label">Address:</label>
            <input type="text" class="form-control" name="address" id="address" required minlength="5" [(ngModel)]="address">
        </div>
        <div class="mt-3">
            <label for="gender" class="form-label">Gender:</label>
            <input type="text" class="form-control" name="gender" id="gender" [(ngModel)]="gender">
        </div>
        <div class="mt-3">
            <label for="iniBlance" class="form-label">Initial Balance:</label>
            <input type="text" class="form-control" name="iniBlance" id="iniBlance" [(ngModel)]="iniBlance">
        </div>
        <div class="mt-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" id="name" required minlength="5" [(ngModel)]="name">
        </div>
        <div class="mt-3">
            <label for="dob" class="form-label">DoB:</label>
            <input type="text" class="form-control" name="dob" id="dob" [(ngModel)]="dob">
        </div>

        <div class="mt-3">
            <label for="nationality" class="form-label">Nationality:</label>
            <input type="text" class="form-control" name="nationality" id="nationality" [(ngModel)]="nationality">
        </div>

        <div class="mt-3">
            <label for="religion" class="form-label">Religion:</label>
            <input type="text" class="form-control" name="religion" id="religion" [(ngModel)]="religion">
        </div>

        <div class="mt-3">
            <label for="mobile" class="form-label">Mobile:</label>
            <input type="text" class="form-control" name="mobile" id="mobile" [(ngModel)]="mobile">
        </div>

        <div class="mt-3">
            <label for="secQuestion" class="form-label">Secqurity Question:</label>
            <input type="text" class="form-control" name="secQuestion" id="secQuestion" [(ngModel)]="secQuestion">
        </div>
        <div class="mt-3">
            <label for="secAns" class="form-label">Secqurity Answer:</label>
            <input type="text" class="form-control" name="secAns" id="secAns" [(ngModel)]="secAns">
        </div>

        <div class="mt-3 btn-group form-control" role="group" aria-label="Basic mixed example">
            <button type="submit" class="form-control btn btn-success m-3">Update</button>

        </div>
    </form>

</div>