<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo01.png" weight="200" height="60" alt="" />
      <img src="./assets/BANKLOGOPNG.png" weight="200" height="60" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <a class="nav-link active" aria-current="page" clas="text-right" href="\dashboard">Admin Dashboard</a>
  </nav>
  <!-- nav end -->
  
  
  <div class="container mt-1 ">
    <h3 class="text-center text-success">Account Holder Details</h3>
    <div class="row " style="margin-left: 350px;">
      <div class="col-12  mt-5">
        <form class="row g-3 mb-3">
          <label for="colFormLabel" class="col-sm-4 col-form-label col-form-label-sm" >Account No</label>
          <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
          </div>
          <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="text" class="form-control" name="accountNo" id="accountNo" required minlength="5" [(ngModel)]="accountNo">
          </div>
         
        <div class="row mb-3">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Holder Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="colFormLabel" name="name" [(ngModel)]="name">
          </div>
        </div>
  
        <div class="row mb-3">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Available Balance</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control" id="colFormLabel" name="iniBlance" [(ngModel)]="iniBlance">
          </div>
        </div>
        <div class="row mb-3">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Deposite Amount</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control" id="colFormLabel" (keyup)="sum()" name="deposit" [(ngModel)]="deposit">
          </div>
        </div>
        <div class="row mb-3">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Total Amount</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control" id="colFormLabel" name="totalamt" [(ngModel)]="totalamt">
          </div>
        </div>
        <div class="btn btn-center mt-3 mb-3">
          <button class="btn btn-success shadow btn-md m-3" style="font-size: 130%;" type="button" (click)="updateHolders() ">Deposite</button>
        </div>
        </form>
      </div>
    </div>
