<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="\admindashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="\profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="\deposite">Deposite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\withdrawal">Withdrawal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\transfer">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\viewbalance">View Balance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\transection">Transection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\customerlist">Customer List</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="\changepin">Change Pin</a>
                </li> -->
            </ul>

        </div>
    </div>
</nav>



<div class="container mt-3">
    <div class="row mx-5">
        <h3 class="text-center text-success">Account Holder Details</h3>
        <div class="col-6 m-0 mt-5">
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-4 col-form-label col-form-label-sm">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Date of Birth</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Nationality</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Gender</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Address</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
        </div>

        <div class="col-6 mt-5">
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-4 col-form-label col-form-label-sm">Account No.</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Account Type</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Religion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Mobile No.</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
            <div class="row mb-3">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label">Security Questions</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control" id="colFormLabel">
                </div>
            </div>
        </div>
        <!-- <div class="btn btn-center mt-3">
            <button class="btn btn-warning shadow btn-md m-3" style="font-size: 130%;" type="button">Update</button>
            <button class="btn btn-success shadow btn-md m-3" style="font-size: 130%;" type="button"> Save </button>
        </div> -->
    </div>
</div>




