
<div class="container mt-1">
  <h2 class="text-center" style="color:blue;font-weight: 500; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Change Password</h2>
  <form>
    <div class="form-group mb-2">
      <label for="name" style="color: rgb(7, 145, 7); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Account No:</label>
      <input type="text" id="accountNo" name="accountNo" [(ngModel)]="accountNo">
    </div>
    <div class="form-group mb-2">
      <label for="name" style="color: rgb(7, 145, 7); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Old Password:</label>
      <input type="text" id="oldPin" name="oldPin" [(ngModel)]="oldPin">
    </div>
    <div class="form-group mb-2">
      <label for="text" style="color: rgb(7, 145, 7); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">New Password:</label>
      <input type="text" id="newPin"  name="newPin"[(ngModel)]="newPin" >
    </div>
    <div class="form-group mb-2">
      <label for="text" style="color: rgb(7, 145, 7); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Re-type Password:</label>
      <input type="text" id="retypePin" name="retypePin" [(ngModel)]="retypePin">
    </div>
  </form>
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button class="btn btn-success shadow ms-5" style="font-size: 130%; color: rgb(241, 229, 229);" type="button"
      (click)="changePassword() ">Update</button>
      <button class="btn btn-primary shadow ms-5" style="font-size: 130%; color: rgb(241, 229, 229);" type="button"
      (click)="goHome() ">Home</button>
  </div>
</div>
