<section style="background-color: azure;">

<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="side-nav-button p-2 me-3 text-light">
    </div>
    <a class="navbar-brand" href="\home">Home</a>
    <!-- <img class="navbar-brand px-4" href="\home" src="./assets/bank_logo.png" width="240" height="48"> -->

    <!-- <div class="navbar-collaspe">
         <ul class="navbar-nav me-auto">
            <li class="navbar-item dropdown mx-3">
                <a class="navbar-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu1</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li> <a class="dropdown-item" href="#">Child1</a></li>
                    <li> <a class="dropdown-item" href="#">Child2</a></li>
                    <li> <a class="dropdown-item" href="#">Child3</a></li>
                </ul>
            </li>
        </ul> 
    </div> -->

    <form class="m-auto">
        <div class="d-flex m-auto">
            <input class=" form-control me-2" type="search" placeholder="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
    </form>
    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">Login</button>
        <ul class="dropdown-menu dropdown-menu-dark">
             <li> <a class="dropdown-item" href="\login">Account Holder</a></li>
        </ul>
    </div>
</nav>

<!-- NAVEND -->

<!-- SideNAV -->

<div class="area"></div>
<nav class="main-menu mt-5">
    <ul>
        <li>
            <a href="\home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                   Home
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="\contact">
                <i class="fa fa-phone fa-2x"></i>
                <span class="nav-text">
                    Contact
                </span>
            </a>

        </li><li class="has-subnav">
            <a href="\aboutus">
                <i class="fa fa-address-card fa-2x"></i>
                <span class="nav-text">
                  About Us
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="\home">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                   Settings
                </span>
            </a>

        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="\home">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>

<!-- SideNAvEnd -->

<!-- MAin DISPLAY -->
<div>
    <div class="d-flex justify-content-center mt-1">
        <img src="./assets/logo02.png" weight="200" height="80" alt="" />

        <img src="./assets/BANKLOGOPNG.png" weight="200" height="80" alt="" />
    </div>


    <!-- Rainbow Color -->
    <div class="container-fluid m-0 mt-2">
        <div>
            <div>
                <h5 class="text-center fw-bolder rainbow">Welcome!</h5>
                <h6 class="text-center fw-bolder rainbow1">Stay with us & happy Banking</h6>
            </div>
        </div>


        <!-- carousel -->
        <div id="carouselExampleRide" class="carousel slide mt-2" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/carosol1.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/carosol2.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/carosol3.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/carosol4.JPG" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- card -->
        <div class="row">
            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card1.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>
            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card2.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>

            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card3.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>

            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card4.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>
            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card5.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>
            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card6.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>
            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card7.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>
            <article class="card">
                <div class="temporary_text">
                    <img src="../../assets/card8.JPG" class="card-img-top mt-1" alt="..." />
                </div>
                <div class="card_content">
                    <span class="card_title">This is a Title</span>
                    <span class="card_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the
                        Web.</span>
                    <p class="card_description">Lorem ipsum dolor, sit amet expedita exercitationem recusandae aut
                        dolor
                        tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore
                        minus
                        soluta consequatur placeat.</p>
                </div>
            </article>
        </div>
    </div>
</div>
</section>